body {
    background-color: #fff;
}
form {
    text-align: center;
    border: 1px solid gray;
    padding: 50px;
    width: 50%;
    margin: 0 auto;
    
    background-color: ivory;
    font-family: fantasy;
    font-weight: bold;
    
}



div {
    padding: 10px;
    margin: 10px;
    text-align: left;
    margin-left: 30px;
}
button {
    background-color: white;
    font-family: fantasy;
    border: 1px solid gray;
    padding: 8px;
    font-weight: bold;
    opacity: 0.8;

}


[type="text"] {
    border: 1px solid blue;
    padding: 100px;
}

[type="email"] {
    border: 12px solid brown;
}

[type="submit"] {
    border: 0px;
}
[for="password"] {
    border: 10px solid red;
    background-color: yellow;
    font-family: cursive;
    padding: 10px;
    display: block;
}











