body {
    background-color: white;
    font-family: fantasy;
    
    margin-left: 0px
    
}
nav {
    
    font-family: cursive;
    background-color: gray;
    color: red;
    padding: 10px;
    
    
}
#f  {
    text-decoration: none;
    font-size: 20px;
    color: slateblue;
    background-color: gainsboro;
    margin: 0 auto;
    padding: 5px;
}
#f:hover {
    color: blue;
    background-color: white;
}




.red {color: red;}
.orange {color: orange;}
.green {color: green;}

.color:not(.red):not(.green) {
    color: darkblue;
}