body {
    background-color: white;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    
}
table td {
    border: 1px solid black;
    text-align: center;

}
table tr:hover {
    color: #ccc;
}
table tr td:hover {
    color: rgb(255, 0, 0)
}
