body {
    background-color: white;
}


.link1 {
    color: black;
    text-decoration: none;
    
    
}

.link1:hover {
   
    color: red;
    font-weight: 900;
}

.link1:visited {
    color: green
}

.link1:active {
    color: blue
}