body {
    background-color: lavenderblush;
    
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.middle {
    text-align: center;
}
.justify {
    text-align: justify;
}
p.unset {
    text-align: unset;
}