body {
    background-color: white;
    font-family: cursive;
    
}
div {
    display: inline;
    border: 1px solid black;
    padding: 5px;

}
span {
    display: block;
    border: 1px solid black;
    padding: 5px;

}