body {
    background-color: white;
}
.inline {
    display: inline-block;
    border: 1px solid red;
}
.square {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: auto;
    
}