html {
    height: 100%;
}


body {
    background-color: gainsboro;
    font-family: medium;
    margin-left: 0;
    margin-top: 0px;
}

@keyframes project {
    0% {
        top: 0;
        left: 0;
        }
    25% {
        top: calc(100% - 150px);
        left: 0cm;
        background-color: blue;
    }
    50% {
        
        top: 0;
        top: calc(100% - 150px);
        left: calc(100% - 150px);
        
    }
    
    75% {
        left: calc(100% - 150px);
        top: 0;

    }

    100% {
        
        top: 0;
        left: 0;
    }
}


.box {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 150px;
    width: 150px;
    background-color: #8c1515;
    ;


    animation-name: project;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}






