body {
    background-color: darkgray;
    margin: 0px; 
    padding: 0px;
   
    ;
}
nav {
    border-top:    1px  solid rgb(78, 0, 48);
   
     ;border-bottom: 1px solid    antiquewhite;
    border-width:    100px ;
    border-left: ;
    
   
    background-color: darkmagenta;
    
}