body {
    background-color: gainsboro;
    font-family: fantasy;
    
    margin-left: 0px
    
}
nav {
    
    font-family: cursive;
    background-color: gray;
    color: red;
    padding: 10px;
    
    
}
#f  {
    text-decoration: none;
    font-size: 20px;
    color: slateblue;
    background-color: gainsboro;
    margin: 0 auto;
    padding: 5px;
}
#f:hover {
    color: blue;
    background-color: white;
}



.div {
    display: inline-block;
    background-color: white;
    width: 300px;
    height: 300px;
    position: relative;
    top: 50px;
    left: 150px;

}
.div::before {
    display: inline-block;
    background-color: black;
    color: red;
    content: 'hi my name is rama dg               d';
    width: 300px;
    height: 300px;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index:1 ;

}