html {
    height: 100%;
}
@font-face {
    font-family: Light;
    src: url('Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: Dark;
    src: url('Roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: littledark;
    src: url('Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: medium;
    src: url('Roboto/Roboto-Regular.ttf');
}

body {
    background-color: white;
    font-family: medium;
    margin-left: 0;
    margin-top: 0px;
}

.nav-title {
    
    padding: 5px 10px 10px 10px;
    border: 1px solid;
    background: rgb(99, 150, 111);
    color: rgb(0, 0, 0);
}

.heading {
    padding: 10px;
    margin-top: 4px;
}







